<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="faq.css">
</head>
<body>

    <header>
            <nav class="navbar">

                <div class="brand__logo">
                    <img src="../Landingpage/LOGO (2).svg" id="logo" alt="brand-logo">
                </div>

                <ul class="nav__links">

                    <li>
                        <a href="">Home</a>
                    </li>

                    <li>
                        <a href="">About Us</a>
                    </li>

                    <li>
                        <a href="">Contact Us</a>
                    </li>

                    <li>
                        <a href="">FAQs</a>
                    </li>


                </ul>


                <div>
                    <a href="" id="header-btn-a">Log In
                    </a>
                    <a href="" id="header-btn-b">Register
                    </a>
                </div>

            </nav>

        </header>
    
    <h1 class="faq-heading">Frequently Asked Questions</h1>
        <section class="faq-container">
            <div class="faq-one">
                <!-- faq question -->
                <h1 class="faq-page">What happens if i dont pay my debt before the deadline?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe sequi, illum facere
                        necessitatibus cum aliquam id illo omnis maxime, totam soluta voluptate amet ut sit ipsum
                        aperiam.
                        Perspiciatis, porro!</p>
                </div>
            </div>
            <hr class="hr-line">
            <div class="faq-two">
                <!-- faq question -->
                <h1 class="faq-page">Do i need to open a different account for each ward i have in school?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>As a parent, you are only required to open one Account for your wards</p>
                </div>
            </div>
            <hr class="hr-line">
            <div class="faq-three">
                <!-- faq question -->
<h1 class="faq-page">How do i upload my proof of payment?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe sequi, illum facere
                        necessitatibus cum aliquam id illo omnis maxime, totam soluta voluptate amet ut sit ipsum
                        aperiam.
                        Perspiciatis, porro!</p>
                </div>
            </div>
            <hr class="hr-line">
            <div class="faq-four">
                <!-- faq question -->
                <h1 class="faq-page">How do i get in contact with the School Accountant?</h1>
                <!-- faq answer -->
                <div class="faq-body">
                    <p>As a parent, you are only required to open one account for your wards</p>
                </div>
            </div>
        </section>
        <script src="faq.js"></script>
</body>
</html>